<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trần Trung Hiếu</title>
    <div th:replace="fragments/head :: head"></div>
    <script type="text/javascript">
        function showError(message) {
            if (message) {
                alert(message)
            }
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2>Create new product</h2>
            <form action="/add-category" method="post" enctype="multipart/form-data"
                  th:object="${categoryDTO}">
                <div class="mb-3">
                    <label for="name" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    <span th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger"
                          th:errors="${categoryDTO.name}"></span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}" required>
                    <span th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger"
                          th:errors="${categoryDTO.description}"></span>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Image</label>
                    <input id="file" class="form-control" type="file"
                           th:field="*{image}" required>
                    <span th:if="${#fields.hasErrors('image')}" th:errorclass="text-danger"
                          th:errors="${categoryDTO.image}"></span>
                </div>

                <div class="row">
                    <button type="submit" class="col-md-6 btn btn-primary mx-3" style="width: 300px;">
                        Create category
                    </button>
                    <a th:href="@{/categories}" class="col-md-6 btn btn-secondary mx-3">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-md-4 rounded border mx-3">

        </div>
    </div>
</div>

<!-- Gọi hàm JavaScript hiển thị lỗi nếu có -->
<script type="text/javascript">
    /* Thêm thuộc tính th:text vào thẻ span để lấy thông báo lỗi từ Model */
    let errorMessage = /*[[${errorMessage}]]*/ '';
    showError(errorMessage);
</script>

</body>
</html>