<div th:fragment="footer">
    <!-- Footer -->
    <footer class="bg-dark text-white text-center text-lg-start">
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1 text-white" href="#!" role="button">
                    <i class="bi bi-facebook"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-github"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links -->
            <section class="">
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-white">Thông tin về tôi</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <p>Họ và tên: Trần Trung Hiếu</p>
                            </li>
                            <li>
                                <p>Mã số sinh viên: 22110139</p>
                            </li>
                            <li>
                                <p>Bài tập lập trình web về Thymeleaf chiều thứ 3</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-white">Thầy giảng dạy</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Nguyễn Hữu Trung</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Khoa: Công nghệ thông tin</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-white">Trường Đại học Sư phạm Kỹ Thuật TPHCM</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Số 1 VVN</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Em yêu trường em</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <a href="https://github.com/Hieu-with-love/thymeleaf_btct3_week11">Link bài làm</a>
                    </div>
                </div>
            </section>
            <!-- Section: Links -->
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="https://github.com/Hieu-with-love/thymeleaf_btct3_week11">Link bai tap</a>
        </div>
    </footer>

</div>