<div th:fragment="scripts">
    <script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
    <script th:src="@{/libs/simplebar/dist/simplebar.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</div>