<div>
    <!-- Sidebar Start -->
    <aside class="left-sidebar" th:fragment="sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a th:href="@{/admin}" class="text-nowrap logo-img">
                    <img th:src="@{/admin/resource_admin/images/logos/logo-light.svg}" alt=""/>
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/admin}" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:home-smile-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                        <span class="hide-menu">FUNCTION COMPONENTS</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/admin/categories}" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:layers-minimalistic-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Categories</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:danger-circle-bold-duotone"></iconify-icon>
                </span>
                            <span class="hide-menu">Brands</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/admin/products}" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:bookmark-square-minimalistic-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Products</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:file-text-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Orders</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:text-field-focus-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Order Details</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <iconify-icon th:icon="@{solar:menu-dots-linear}" class="nav-small-cap-icon fs-6"
                        ></iconify-icon>
                        <span class="hide-menu">AUTH</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/login}" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:login-3-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Login</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/register}" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:user-plus-rounded-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Register</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <iconify-icon th:icon="@{solar:menu-dots-linear}" class="nav-small-cap-icon fs-4"
                        ></iconify-icon>
                        <span class="hide-menu">EXTRA</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:sticker-smile-circle-2-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Icons</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                  <iconify-icon th:icon="@{solar:planet-3-bold-duotone}"></iconify-icon>
                </span>
                            <span class="hide-menu">Sample Page</span>
                        </a>
                    </li>
                </ul>
                <div class="unlimited-access hide-menu bg-primary-subtle position-relative mb-7 mt-7 rounded-3">
                    <div class="d-flex">
                        <div class="unlimited-access-title me-3">
                            <h6 class="fw-semibold fs-4 mb-6 text-dark w-75">Upgrade to pro</h6>
                            <a href="#" target="_blank"
                               class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
                        </div>
                        <div class="unlimited-access-img">
                            <img th:src="@{/admin/resource_admin/images/backgrounds/rocket.png}" alt=""
                                 class="img-fluid">
                        </div>
                    </div>
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
</div>